<!DOCTYPE html>
<html lang="en">
  <head>

    <!--    Meta  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="locale" content="en_US" />
    <meta name="type" content="website" />
    <meta name="title" content="Baymax.ai | Best ChatBot Provider for Practitioners" />
    <meta name="description" content="Baymax.ai is the best ChatBot developer for practitioners. AI in action for your Practice ! " />
    <meta name="url" content="www.baymax.ai" />
    <meta name="site_name" content="Baymax.ai" />
    <meta property="fb:page_id" content="1572152426152531" />
    <meta name="google-site-verification" content="KBMRDBy0o6sWoNE_nXmm9gfgbiuAHkuRYuyqg7gPMPU" />

     

    <title>Baymax.ai | Best ChatBot agency for your business</title>

   
    <!--  Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/clique.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />

    <!-- Custom Fonts -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
     <link href="//fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
     <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
   



      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53686538-8', 'auto');
      ga('send', 'pageview');

      </script>


  </head>
  <body id="page-top" class="index">


    {{> header}}
    {{{body}}}

    
   <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Baymax &copy; 2017  | All Rights Reserved   | <a href="https://www.baymax.ai/privacy-policy.html" style="color:#745efb">Privacy policy</a>
                </div>
           
             <div class="col-md-4 col-md-offset-4">
                                USA, Los Angeles  |   Wilshire blvd 353, 90010

             </div>

              

            </div>
        </div>
    </footer>


<!--jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
     
          <!-- Stripe script -->
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <!-- Payment.js -->
    <script src="/js/checkout.js"></script>
  
    <!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!--Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/clique.js"></script>
<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3463081.js"></script>
<!-- End of HubSpot Embed Code -->


  </body>

</html>
